.metallic-text {
  background: linear-gradient(
    60deg,
    rgb(192, 152, 202),
    rgb(245, 234, 250),
    rgb(192, 152, 202)
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -100% -100%;
  }
  50% {
    background-position: 200% 200%;
  }
  100% {
    background-position: 300% 300%;
  }
}
