/* Object contenant les techskills*/
$projects: drinksaver, pokemon, lunova;

/* Boucle pour donner le nom des teckskills en class*/
@each $project in $projects {
  .card-project.#{$project} {
    --front: var(--#{$project}front);
  }
}

.card-project {
  width: 250px;
  height: 250px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  box-shadow: 0 0 5px -5px var(--cardBorder1), 0 0 5px -5px var(--cardBorder2),
    0 0 5px -5px transparent, 0 0 5px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #000000e6;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
  border: 1.5px solid #ce9ffb;
  &.active,
  &:hover {
    box-shadow: 0 0 0 2px var(--cardBorder1), 0 0 0 4px var(--cardBorder2),
      0 0 10px 0 rgba(0, 0, 0, 0.25);
    border: none;
    animation: none;
    transition: box-shadow 0.1s ease-out;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url("/images/glitch.gif");
    background-position: 50% 50%;
    background-size: 100%;
    z-index: 2;
    mix-blend-mode: color-dodge;
    transition: background-image 0.3s ease;
  }

  &:hover:after {
    background-image: none;
    background: linear-gradient(
      135deg,
      rgba(0, 255, 255, 0.8) 0%,
      rgba(255, 0, 255, 0.6) 25%,

      rgba(0, 255, 42, 0.4) 50%,

      rgba(0, 0, 160, 0.6) 75%,
      rgba(255, 20, 147, 0.8) 100%
    );
  }
}

.container-title-project {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(1, 2, 16, 0.827);
}
.title-project {
  font-family: var(--font-zendots);
  font-stretch: condensed;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
}
