:root {
  --colorfond1: rgba(109, 53, 105, 0.5);
  --colorfond2: rgb(21, 16, 72);
  --neon-violet: #ce9ffb;
  --neon-rose: #e4cafd;
  --neon-cyan: #00ffff;
  --font-genos: "Genos", sans-serif;
  --font-zen-dots: "Zen Dots", sans-serif;
  --color-font: #f4eafd;

  /* Cards techskills */
  --cardLinear1: rgb(192, 152, 202);
  --cardLinear2: rgb(245, 234, 250);
  --cardLinear3: rgb(0, 255, 255);
  --cardLinear4: rgb(255, 0, 153);
  --cardLinear5: rgb(67, 37, 84);

  --cardBorder1: rgb(218, 198, 223);
  --cardBorder2: rgb(236, 232, 240);
  --back: url("https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg");
  --jsfront: url("/images/techskills/javascript.svg");
  --nextfront: url("/images/techskills/nextjs.svg");
  --htmlfront: url("/images/techskills/html.svg");
  --cssfront: url("/images/techskills/css.svg");
  --sassfront: url("/images/techskills/sass.svg");
  --sqlfront: url("/images/techskills/sql.svg");
  --nodefront: url("/images/techskills/nodejs.svg");
  --reactfront: url("/images/techskills/reactjs.svg");
  --csharpfront: url("/images/techskills/csharp.svg");
  --aspfront: url("/images/techskills/dotnet.svg");
  --tsfront: url("/images/techskills/typescript.svg");
  --prismafront: url("/images/techskills/prisma.svg");
  --supabasefront: url("/images/techskills/supabase.svg");
  --drinksaverfront: url("/images/projects/drinksaver.jpg");
  --pokemonfront: url("/images/projects/pokemon.jpg");
  --kababifront: url("/images/projects/kababi.jpg");
}
