:root {
  --colorfond1: rgba(109, 53, 105, 0.5);
  --colorfond2: rgb(21, 16, 72);
  --neon-violet: #ce9ffb;
  --neon-rose: #e4cafd;
  --font-genos: "Genos", sans-serif;
  --font-zen-dots: "Zen Dots", sans-serif;
  --color-font: #f4eafd;
  /* Cards techskills */
  --color1: rgb(0, 255, 221);
  --color2: rgb(255, 0, 128);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --js1: #fbff00;
  --js2: #00fff7;
  --jsfront: url("/images/techskills/javascript.svg");
  --next1: #ff0073;
  --next2: #00fff7;
  --nextfront: url("/images/techskills/nextjs.svg");
  --html1: #ff6200;
  --html2: #ff0000;
  --htmlfront: url("/images/techskills/html.svg");
  --css1: #00b3ff;
  --css2: #1100ff;
  --cssfront: url("/images/techskills/css.svg");
  --sass1: #ff00ea;
  --sass2: #ff0062;
  --sassfront: url("/images/techskills/sass.svg");
  --sql1: #4800ff;
  --sql2: #00eaff;
  --sqlfront: url("/images/techskills/sql.svg");
  --node1: #7bff00;
  --node2: #00ff80;
  --nodefront: url("/images/techskills/nodejs.svg");
  --react1: #00e1ff;
  --react2: #00ff91;
  --reactfront: url("/images/techskills/reactjs.svg");
  --csharp1: #ea00ff;
  --csharp2: #6a00ff;
  --csharpfront: url("/images/techskills/csharp.svg");
  --asp1: #bb00ff;
  --asp2: #0400ff;
  --aspfront: url("/images/techskills/dotnet.svg");
  --ts1: #0400ff;
  --ts2: #00c3ff;
  --tsfront: url("/images/techskills/typescript.svg");
  --drinksaver1: #d33500;
  --drinksaver2: #59b800;
  --drinksaverfront: url("/images/techskills/drinksaver.svg");
  --pokemon1: #0090e3;
  --pokemon2: #bc00b3;
  --pokemonfront: url("/images/techskills/pokemon.jpg");
}
